#root {  width: 100%;  min-height: 100vh;  background: #0a0a0a;  display: flex;  flex-direction: column;}main {
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  --primary-color: #5cd1ff;
  --secondary-color: #1a1a1a;
}

.card {
  padding: 2em;
}