#root {
  width: 100%;
  min-height: 100vh;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.card {
  padding: 2em;
}